<!DOCTYPE html>
<html>
<head>
    <title>OfferUp - Cadastre-se</title>
</head>
<body>
    <h4>Cadastrar Usuário</h1>
    <form action="caduser" method="post">
        <p><label for="user">Username</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="nome">Nome</label></p>
        <p><input type="text" id="nome" name="nome"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="passwd">Senha</label></p>
        <p><input type="text" id="passwd" name="passwd"></p>

        <p><input type="submit" value="Cadastrar"></p>
    </form>
</body>
</html>