<!DOCTYPE html>
<html>
<head>
    <title>OfferUp - {{titulo}}</title>
</head>
<body>
    <p><a href={{url_for("central")}}> Central do Usuário</a></p>
    <p><a href={{url_for("categoria")}}> Gerenciar Categorias</a></p>
    <p><a href={{url_for("produto")}}> Produtos</a></p>
    <p><a href={{url_for("sobre")}}> Sobre Nós</a></p>
    <p><a href={{url_for("contato")}}> Contato</a></p>
    <h1>Contato</h1>
    <p>Entre em contato através dos nossos canais de atendimento:</p>
    <p>E-mail: offerup@offerup.com.br</p>
    <p>Whatsapp: (18)99999-1111</p>
</body>
</html>