<!DOCTYPE html>
<html>
<head>
    <title>OfferUp - {{titulo}}</title> 
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .navbar-brand img {
            width: 100px;
        }
        .container {
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="OfferUp Logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Página Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('central') }}">Central do Usuário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('categoria') }}">Gerenciar Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('produtos_anunciados') }}">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sobre') }}">Sobre Nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contato') }}">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h2>Para Finalizar sua Compra selecione a Quantidade e Cartão de Crédito</h2>
        <h3 class="display-4">{{ produto.prod_nome }}</h3>
        <p class="lead">{{ produto.prod_desc }}</p>
    </div>
    <div class="container mt-4">
        <form method="post" action="">
            <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="number" class="form-control" name="quantidade" required>
            </div>

            <div class="form-group">
                <label for="cartao_id">Cartão:</label>
                <select class="form-control" name="cartao_id" required>
                    {% for cartao in cartoes %}
                    <option value="{{ cartao.id }}">{{ cartao.num_cartao }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-block">Confirmar Compra</button>
            </div>
        </form>
    </div>
</body>
</html>
