<!DOCTYPE html>
<html>
<head>
    <title>OfferUp - Sua Oferta em suas mãos!</title>
</head>
<body>
    <p><a href={{url_for("central")}}> Central do Usuário</a></p>
    <p><a href={{url_for("categoria")}}> Gerenciar Categorias</a></p>
    <p><a href={{url_for("produto")}}> Produtos</a></p>
    <p><a href={{url_for("sobre")}}> Sobre Nós</a></p>
    <p><a href={{url_for("contato")}}> Contato</a></p>
    <h1>Muito Bem-vindo a Plataforma de Venda OfferUp.</h1>
    <p>Aqui você pode vender e comprar de forma rápida e prática.</p>
    <p>Nossa equipe de Suporte estará disponível para te auxiliar no que precisar.</p>
    <p>Desejamos que você faça boas Vendas ou Compras por aqui.</p>
</body>
</html>