<!DOCTYPE html>
<html>
<head>
    <title>OfferUp - Cadastrar {{titulo}}</title>
</head>
<body>
    <h4>Cadastro de {{titulo}}</h4>
    <form action="/produtos/criar" method="post">
        <p><label for="nome">Nome</label>
        <input type="text" id="nome" name="nome"></p>

        <p><label for="desc">Descrição</label>
        <textarea rows="4" cols="50" id="desc" name="desc"></textarea></p>
        
        <p><label for="espec">Especificações</label>
        <input type="text" id="espec" name="espec"></p>

        <p><label for="marca">Marca</label>
        <input type="text" id="marca" name="marca"></p>  

        <p><label for="modelo">Modelo</label>
        <input type="text" id="modelo" name="modelo"></p>           

        <p><label for="qtd">Quantidade</label>
        <input type="text" id="qtd" name="qtd"></p>

        <p><label for="preco">Preco</label>
        <input type="text" id="preco" name="preco"></p>
        
        <p><label for="cat">Categoria</label>
        <select id="cat" name="cat">
            {% for categoria in categorias %} 
                <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
            {% endfor %}
        </select></p>

        <p><label for="cat">Usuario</label>
            <select id="usu" name="usu">
                {% for usuario in usuarios %} 
                    <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
                {% endfor %}
            </select></p>

        <p><input type="submit" value="Cadastrar"></p>
    </form>

        <h4>Lista de {{titulo}}</h4>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Especificação</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Quantidade</th>
                    <th>Preco</th>
                    <th>Categoria</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.prod_nome }}</td>
                        <td>{{ produto.prod_desc }}</td>
                        <td>{{ produto.prod_espec }}</td>
                        <td>{{ produto.prod_marca }}</td>
                        <td>{{ produto.prod_modelo }}</td>
                        <td>{{ produto.prod_qtd }}</td>
                        <td>{{ produto.prod_preco }}</td>
                        <td>{{ produto.cat_nome }}</td>
                        <td>{{ produto.usu_username }}</td>
                        <td><a href={{ url_for("editarproduto",id=produto.id) }}>Editar?</a></td>
                        <td><a href={{ url_for("deletarproduto",id=produto.id) }}>Deletar?</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


</body>
</html>