<!DOCTYPE html>
<html>
<head>
    <title>OfferUp - {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .navbar-brand img {
            width: 100px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="OfferUp Logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Página Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('central') }}">Central do Usuário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('categoria') }}">Gerenciar Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('produtos_anunciados') }}">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sobre') }}">Sobre Nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contato') }}">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h2>Responder Perguntas para o Produto: {{ produto.prod_nome }}</h2>
        {% for pergunta in perguntas %}
            <h3>Pergunta:</h3>
            <p>{{ pergunta.texto }}</p>

            {% if pergunta.resposta %}
            <h4>Resposta Anterior:</h4>
            <p>{{ pergunta.resposta.texto }}</p>
            {% else %}
            <form method="post" action="">
                <input type="hidden" name="pergunta_id" value="{{ pergunta.id }}">
                <label for="texto_resposta">Responder:</label>
                <textarea class="form-control" rows="4" name="texto_resposta" required></textarea><br>
                <button type="submit" class="btn btn-primary">Enviar Resposta</button>
            </form>
            {% endif %}
            <hr>
        {% endfor %}
    </div>
</body>
</html>
