<!DOCTYPE html>
<html>
<head>
    <title>OfferUp - {{titulo}}</title>
</head>
<body>
    <p><a href={{url_for("central")}}> Central do Usuário</a></p>
    <p><a href={{url_for("categoria")}}> Gerenciar Categorias</a></p>
    <p><a href={{url_for("produto")}}> Produtos</a></p>
    <p><a href={{url_for("sobre")}}> Sobre Nós</a></p>
    <p><a href={{url_for("contato")}}> Contato</a></p>
    <h1>Sobre Nós:</h1>
    <p>OfferUp é uma plataforma de vendas entre os usuários que permite comprar e vender itens produtos ​​de forma segura e conveniente.</p> 
    <p>Com nossa Plataforma, você pode encontrar tudo o que precisa, desde móveis e eletrodomésticos até roupas e acessórios.</p>
    <p>Nossa Missão é fazer com que você possa comprar e vender com facilidade.</p>
    <p>Acreditamos que todos merecem ter acesso a produtos de qualidade a preços acessíveis, e estamos comprometidos em tornar o processo de compra e venda o mais conveniente possível.</p>
    <p>Se você está procurando um lugar para comprar ou vender produtos, OfferUp é a escolha perfeita para você.</p>
    <p>Com nossa ampla seleção de itens, você pode encontrar o que precisa e fazer uma excelente escolha.</p><br />
    <p>Aqui estão alguns dos benefícios de usar OfferUp:</p>
    <p>* Uma ampla seleção de itens para escolher</p>
    <p>* Opções de pagamento convenientes</p>
    <p>* Compra e venda segura</p>
    <p>* Equipe de suporte ao cliente amigável</p><br />
    <p>Se você está procurando um lugar para comprar ou vender produtos, OfferUp é a escolha perfeita para você.</p> 
    <p>Inscreva-se hoje e comece a comprar e vender!</p>
</body>
</html>